<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mini Vue</title>
    <style>
      button {
        width: 40px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>差值表达式</h1>
      <h3>{{ msg }}</h3>
      <h3>{{ count }}</h3>
      <h3>{{ person.name }}</h3>
      <h1>v-text</h1>
      <div v-text="msg"></div>
      <h1 v-html="html"></h1>
      <h1>v-model</h1>
      <input type="text" v-model="msg" />
      <input type="text" v-model="count" />
      <h1>v-on:写法</h1>
      <h3>click</h3>
      <button type="button" v-on:click="countAdd">click</button>
      <h3>blur</h3>
      <input type="text" v-on:blur="countChange" />
      <h1>@写法</h1>
      <h3>click</h3>
      <button type="button" @click="countAdd">click</button>
      <h3>blur</h3>
      <input type="text" @blur="countChange" />
    </div>
    <script src="./js/dep.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/compiler.js"></script>
    <script src="./js/observer.js"></script>
    <script src="./js/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          msg: "Hello Vue",
          count: 100,
          person: { name: "lxga" },
          html: "<p>vueHtml<p>",
        },
        methods: {
          countAdd() {
            this.count++;
          },
          countChange(e) {
            console.log("e.value", e.value);
            this.count = e.value || 0;
          },
        },
      });
      console.log(vm.msg);
      // vm.msg = { test: 'Hello' }
      vm.test = "abc";
      vm.html = '<p style="color: red">vueHtmlxxx<p>';
    </script>
  </body>
</html>
